:root {
    font-family: 'Crafty Girls', cursive;
    --main-color: black; --accent-color: red; scroll-behavior: smooth;
}

.container {
    max-width: 980px;
    margin: auto;
    background: #fefac0;
}

header .navbar-light {
    background-color: #ffa834;
}

header nav .logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    font-size: 38px;
    color: black;
    font-family: 'Bungee Shade', serif;
}

header nav .logo a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    text-transform: none;
}

header .nav-item a {
    text-transform: uppercase;
}

header .nav-item .nav-link {
    list-style-type: none;
    justify-content: space-around;
    margin: 20px;
}

header nav .nav-item a:hover::after {
    transform: scale(1);
}

header nav #menu {
    list-style: none;
    padding: 0;
}

header nav #menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
    color: var(--main-color);
    font-family: 'Crafty Girls', cursive;
}

header nav #menu a:hover {
    border: 1px solid var(--accent-color);
    background: #fefac0;
    border-radius: 0.3em;
    transition: all 0.4s;
    color: black;
    cursor: pointer;
}

.headers {
    padding: 10px;
    font-size: 28px;
    text-align: center;
    font-family: 'Bungee Shade', serif;
}

.smallHeaders {
    text-align: center;
}

@media (min-width: 550px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header .menu {
        flex: 1;
    }
}

.logotype .banner {
    background-image: url(/img/products/manybook.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h1 {
    font-size: 2rem;
    color: white , black, white;
    font-family: 'Bungee Shade', serif;
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    transition: all 0.3s;
    background-color: transparent;
    font-family: 'Crafty Girls', cursive;
}

.button:hover {
    border-color: red;
    color: black;
    background-color: #ffa834;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    border-color: red;
    background-color: #ffa834;
    color: black;
}

main .product-list article img {
    display: block;
    width: 100%;
    justify-content: center;
}

main .product-list article .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

@media (min-width: 560px) {
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (min-width: 660px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    main .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

footer {
    background: #ffa834;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
}

.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

#scrollToTheTop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#scrollToTheTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#scrollToTheTop:hover {
    cursor: pointer;
    background-color: #333;
}

#scrollToTheTop:active {
    background-color: #555;
}

#scrollToTheTop.show {
    opacity: 1;
    visibility: visible;
}

.row {
    font-family: 'Crafty Girls', cursive;
}

.modal fade {
    font-family: 'Crafty Girls', cursive;
}

#events {
    background-color: #ffd783;
}

#contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

@media (min-width: 650px) {
    #contacts .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

ion-icon {
    font-size: 54px;
}

.opentime {
    padding: 10px;
    font-size: 28px;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
}

.timer {
    margin-bottom: 20px;
    width: 100%
}

.links {
    margin-top: 30px;
}

.googlemap {
    width: 100%;
}

/*
.googlemap {
width : 870px ;
height : 450px ;
}
/*
 max-height: 325px;
/*
